{
    "presets": [
        [
          "es2015",
          {
            "modules": false
          }
        ],
        "stage-0",
        "react"
      ],
      "plugins": [
        "react-hot-loader/babel",
        "transform-runtime",
        "transform-async-to-generator",
        "transform-decorators-legacy",
        ["import", { "libraryName": "antd-mobile", "style": true }]
      ]
  }