// Color
$primary-color: #37ACF6;//rgba(91,100,161,1);
// Menu
$menu-bg: rgba(255,255,255,1);
$menu-item-group-title-color: #fff;

//Sider
$layout-sider-background:rgba(255,255,255,1);

// Table
$table-row-hover-bg: rgba(55,172,246,0.1);

// Tab
$tabs-title-font-size:16px;