*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #fff;
  //background-color: #f0f2f5;
  
}


.cf:after{
  content:'.';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.cf{
  zoom:1;
}

.disabled{
  cursor: not-allowed !important;
  pointer-events:none !important;
  background: #eee !important;
  opacity: 1;
  *{
    cursor: not-allowed !important;
  }
}

.relative{
  position: relative;
}

a.disabled-link{
  pointer-events:none !important;
  opacity: 1;
  color:rgba(0,0,0,0.65);
  *{
    pointer-events:none !important;
  }
}


