@import '../tools/functions';

h1 {
  font-size: vw(18);
}

h2 {
  font-size: vw(16);
}

h3 {
  font-size: vw(14);
}

h4 {
  font-size: vw(12);
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.minor-text{
  color:#999;
  font-size: vw(12);
  margin-right: vw(5)
}
.inline-block{
  display: inline-block;
}

.link,
.link a,
.link a:visited {
  color: rgba(55, 172, 246, 1);
  cursor: pointer;
}
a.link:hover {
  color: #80ceff;
}

.page-container {
  margin-top: vw(24);
  overflow-x: hidden;
  word-break: break-all;
}

.with-icon-left {
  position: relative;
  padding-left: vw(30);
  white-space: nowrap;
}

.with-icon-right {
  position: relative;
  padding-right: vw(20);
  white-space: nowrap;
}

.cell-text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: bottom;
}

i.inline-icon {
  display: inline-block;
  width: vw(24);
  height: vw(24);
  background: no-repeat center center;
  vertical-align: bottom;

  &.copy-icon {
    margin-left: vw(8);
    background: url(sprite_handler.png) 0 0 no-repeat;
    background-size: vw(24) vw(48);
    cursor: pointer;
  }

  &.blockchain-ex-icon{
    width:vw(24);
    height:vw(24);
    margin-right: vw(10);
    background: url(EtherscanLogo-transparent-b-small.png) 0 0 no-repeat;
    background-size: vw(88) vw(24);
    vertical-align: middle;
  }
}

i.cell-icon {
  display: inline-block;
  width: vw(16);
  height: vw(16);
  background: no-repeat center center;
  background-size: vw(16) vw(16);
  vertical-align: middle;

  &.contract-tx-icon {
    background-image: url(icon_address_contract@3x.png);
    vertical-align: text-top;
    margin-left: 5px;
    right: 0;

    &.padding-pos {
      position: absolute;
      right: 0;
    }
  }
  &.account-name-icon {
    margin-left: 5px;
    // position: absolute;
    padding: 0 4px;
    text-align: center;
    width: 70px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    color: #37acf6;
    background: #e6f7ff;
    border-radius: 4px;
    border: 1px solid #91d5ff;
  }
  &.token-name-icon {
    vertical-align: top;
    margin-right: vw(5);
    position: absolute;
    left: 0;
    top: vw(1);
  }
  &.tx-direction-icon {
    background-image: url(icon_tnx_to@3x.png);
  }

  &.token-transfer-icon {
    position: absolute;
    left: 0;
    top: vw(6);
    background-image: url(icon_tokens_transfered@3x.png);
  }

  &.tx-status-failed {
    //@extend %status-icon;
    position: absolute;
    left: 0;
    top: vw(6);
    background-image: url(icon_type_error@3x.png);
  }
  &.tx-status-error {
    position: absolute;
    left: 0;
    top: vw(6);
    background-image: url(icon_type_error@3x.png);
  }
  &.tx-status-success {
    position: absolute;
    left: 0;
    top: vw(6);
    background-image: url(icon_type_ok@3x.png);
  }
}

.splitline {
  position: relative;
  display: block;
  &::after {
    // 实现1物理像素的下边框线
    content: '';
    position: absolute;
    z-index: 1;
    pointer-events: none;
    background-color: #ddd;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      -webkit-transform: scaleY(0.5);
      -webkit-transform-origin: 50% 0%;
    }
  }
}

.max-limit-tip {
  width:100%;
  font-size: vw(12);
  color: rgba(0, 0, 0, 0.45);
  text-align: right;
}

.mult-text {
  width: 100%;
  height: 140px;
  overflow-y: scroll;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 4px 8px;
  cursor: text;
  word-break: break-all;
}

.to-top{
  position: fixed;
    right: vw(16);
    bottom: vw(36);
    width:vw(24);
    height: vw(24);
    background-image: url(icon_top@3x.png);
    background-size: vw(24) vw(24);
}
